APP_ENV=development
SECRET_KEY=6f1615b182050b5020ab619ed7195856d7969f020a4733e60e3935911679e125
APP_ENCRYPTION_KEY=Tjh6A7rTDw2ONtMpjzS4CREVePNx_3eJxEBIimWgpLE=
DATABASE_URL=sqlite:///instance/arsip.db
FRONTEND_URL=http://127.0.0.1:5000
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=30
MAX_UPLOAD_MB=10
UPLOAD_FOLDER=uploads
COOKIE_SECURE=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=arsip.chici@gmail.com
SMTP_PASSWORD=tdkiuwjgawakbnqi
SMTP_FROM=arsip.chici@gmail.com
SMTP_TLS=true